<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.md2k.phonesensor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />`
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme_teal_light"
        tools:replace="android:theme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServicePhoneSensor"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ActivityPhoneSensorSettings"
            android:enabled="true"
            android:exported="true"
            android:label="Settings: Phone Sensor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.md2k.phonesensor.ActivityPhoneSensorSettings" />
            </intent-filter>
            >
        </activity>

        <activity
            android:name="org.md2k.utilities.permission.ActivityPermission"
            android:enabled="true"
            android:exported="true"
            android:label="Permission"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1cad146ed866fa3d49c3bc8376ff52af7d9970da" />
    </application>
</manifest>
